{% extends 'base.html.twig' %}

{% block title %}Editar mi perfil {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/datepicker.css') }}">
    <!--link rel="stylesheet" href="{{ asset('css/styles.css') }}"-->
    <link rel="stylesheet" href="{{ asset('fonts/fonts/font-awesome.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/datepicker.min.js') }}"></script>

{% endblock %}


{% block body %}

    <div class="container-fluid1">
        <div class="row">
            <div class="col-sm-5 col-md-3 sidebar">
                <div class="col-lg-offset-1 col-md-10 col-lg-offset-3">


                    <h3 class="page-header" >{% block titulo %}<span class="glyphicon glyphicon-info-sign"> Información</span>{% endblock %}</h3>
                    <ul class="nav nav-sidebar">
                        <li class="{% block m1%} {% endblock %}"><a href="{{ path('user_perfil') }}"><span class="glyphicon glyphicon-user"> Mi Perfil</span></a></li>
                        <li class="{% block m2%} {% endblock %}"><a href="{{ path('user_edit') }}"><span class="glyphicon glyphicon-pencil"> Editar Perfil</span></a></li>
                        <li class="{% block m3%} {% endblock %}"><a href="{{ path('user_listar') }}" ><span class="glyphicon glyphicon-folder-open"> Mis Solicitud</span></a></li>
                        <li class="{% block m4%} {% endblock %}"><a href="{{ path('user_solicitud') }}" ><span class="glyphicon glyphicon-list"> Nueva Solicitud</span></a></li>
                        <li class="{% block m5%} {% endblock %}"><a href="{{ path('desaparecido_register') }}" ><span class="glyphicon glyphicon-bullhorn"> Reportar</span></a></li>
                        <li class="{% block m6%} {% endblock %}"><a href="{{ path('user_buscar') }}" ><span class="glyphicon glyphicon-search"> Buscar</span></a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-lg-offset-1 col-md-5 col-lg-offset-7 ">


                {{ form_start(formulario) }}
                {% form_theme formulario 'bootstrap_3_layout.html.twig' %}


                {{ form_widget(formulario)}}
                {{ form_end(formulario) }}


            </div>


        </div>
    </div>



{% endblock %}
